.contact-button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  background-color: #2563eb;
  color: white;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Arial', sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.contact-button:hover {
  background-color: #143aab;
}

.MailIcon {
  width: 20px;
  height: 18px;
  vertical-align: middle;
}