#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page {
  padding-top: 5%;
  background: linear-gradient(135deg, #0c0c0c 0%, #404040 100%);
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}